<form action="/add-shop" method="post">
    <h2>Register/Add your Shop</h2>
    <label for="name">Enter your Shop name:</label>
    <input type="text" id="name" name="name">
    <input type="submit"/>
</form>
