
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register/Add your Shop</h2>

    <label for="usernameInput">Enter your Shop name:</label>
    <input type="text" id="usernameInput">
    <button onclick="submitForm()">Submit</button>
</body>
</html>

